@font-face{
    font-family: NexaBold;
    src:url("../../assets/fonts/Nexa.Font.Bold.otf")
}
@font-face{
    font-family: NexaLight;
    src:url("../../assets/fonts/Nexa.Font.Light.otf")
}
.container {
    align-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 100px;
    flex-direction: column;
}
.title{
    font-family: NexaBold;
    font-size: 5vw;
    color:#444;
    margin:20px;
    margin-bottom: 50px;
    transition-duration: 0.5s;

}
a{
    text-decoration: none;
    color:rgb(173, 173, 173);
    border-radius: 50px;
    padding:10px;
    transition-duration: 1s;
}
a:hover{
    background-color: #444;
    transition-duration: 0.5s;

}
.geeky-mode{
    align-self: start;
    margin-left:15%;
    color:#eaeaea;
    font-size: 10px;
    padding:5px;

}
.geeky-mode-active{align-self: start;
    margin-left:15%;
    color:#eaeaea;
    font-size: 10px;
    padding:5px;
    background-color: #808080;
    transition-duration: 0.5s;
}

.rotated-device{
    transition-duration: 0.5s;

    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(-40deg) rotateX(10deg) scale(0.5 ) translateX(40%)
}
.title-detailed{
    transition-duration: 0.5s;
    transform: translateX(-60%);

}
.picture-in-picture{
    position: fixed;
    right: -20vw;
    bottom: -15vh;
    transform: scale(0.3) perspective(1000px) rotate3d(-40, 90, -38, -17deg) ;
    z-index:100;
    animation-name:picture-in-picture-animation;
    animation-duration: 30s;;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.call-section{
    height: 90vh;
    width: 96%;
    background-color: rgb(37, 37, 37);
    position: absolute;
    left: 0;
    top:7%;
    z-index: 0;
    margin-left:2%;
    margin-right:2%;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;



}
.title-in-call{
    color:white;
    transition-duration: 0.5s;
    font-size:3vw;
    position: relative;
    z-index:50;
    left:-40%;
    backdrop-filter: blur(5px);
    border-radius: 100px;
    background-color: rgba(0,0,0,0.05);
    padding: 10px;
    top: -6px;
}
@keyframes picture-in-picture-animation{
    0%{
        transform: scale(0.3) perspective(1000px) rotate3d(-40, 90, -38, -17deg);
    }
    50%{
        transform: scale(0.3) perspective(1000px) rotate3d(54, 195, -4, -17deg);
    }
    70%{
        transform: scale(0.3) perspective(1000px) rotate3d(38, 153, -23, -17deg);
    }
    100%{
        transform: scale(0.3) perspective(1000px) rotate3d(90, 132, -37, -17deg);
    }
}