.border {
	border: 50px solid;
	border-image-source: url(http://storage.itsmrtech.ir/vectorpaint.svg);
	width: 68vw;
	height: 40vw;
	border-image-slice: 70;
	align-self: center;
    transition-duration: 0.5s;
    transform-style: preserve-3d;
    transform: perspective(0px) rotateY(0deg) rotateX(0deg) scale(1 ) translateX(0px)

}