@font-face{
    font-family: NexaBold;
    src:url("./fonts/Nexa.Font.Bold.otf")
}
@font-face{
    font-family: NexaLight;
    src:url("./fonts/Nexa.Font.Light.otf")
}
@font-face{
    font-family: AnonymousPro;
    src:url("./fonts/AnonymousPro-Regular.ttf")
}
body{
    font-family: NexaLight;
}